[Desktop Entry]
Name=Aseprite
GenericName=Terminal entering Aseprite
Comment=Terminal entering Aseprite
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  aseprite
Icon=/home/davi/.local/share/icons/distrobox/fedora.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove Aseprite from system
Exec=/usr/bin/distrobox rm  aseprite
