[Desktop Entry]
Name=Ladybird
GenericName=Terminal entering Ladybird
Comment=Terminal entering Ladybird
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  ladybird
Icon=/home/davi/.local/share/icons/distrobox/fedora.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove Ladybird from system
Exec=/usr/bin/distrobox rm  ladybird
