[Desktop Entry]
Type=Application
Exec=/home/davi/Qt/MaintenanceTool
Path=/home/davi/Qt
Name=Qt Maintenance Tool
GenericName=Install or uninstall Qt components.
Icon=QtIcon
Terminal=false
Categories=Development;Qt;
